*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.BarDynamicPoster{
    /*background: green;*/
    width: 90%;
    margin: 0 auto;
    display: flex;

    /*border: red 3px solid;*/
    scroll-behavior: smooth;

}
.Allposters{
    overflow-x: scroll;
    /*background: purple;*/
    padding: 40px 0;
    gap: 1.20%;
    display: flex;
    position: relative;
}
.Allposters::-webkit-scrollbar{
    width: 0;
}

