.BarDynamicPoster{
    width: 100%;
    margin: 0 auto;
    display: flex;

    scroll-behavior: smooth;

}
.Allposters{
    overflow-x: scroll;
    padding: 40px 0;
    gap: 1.20%;
    display: flex;
    position: relative;
}
.Allposters::-webkit-scrollbar{
    width: 0;
}

.BarDynamicPoster button{
    border: none;
    background: rgba(0,0,0,0.8);

    position: relative;

    border-radius: 100% 100% 100% 0;
}
.BarDynamicPoster .buttonLeft{
    left: 15px;
    z-index: 5;

}

.BarDynamicPoster .buttonRight{
    right: 15px;
}

.BarDynamicPoster button .material-symbols-outlined{
    color: #282828;
}


