*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #8d8d8d;
}
.container-header{
    z-index: 3;
    margin: 1% 3.2% 0;

}
.containerNavgation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centeredLinks {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.centeredLinks a{
    margin: 3px;
}
.searchIcon {
    display: flex;
    align-items: center;
}
