

.Grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto 0;
    /*position: absolute;*/
    padding: 10%  4%;
}
.Grid-container .poster{
    margin: 2.2%;
}

@media (min-width: 801px){
    .Grid-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: auto;
        gap: 1.60%;
        padding: 10% 7%;
    }
}
@media (min-width: 1025px){
    .Grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: auto;
        gap: 1.20%;
        padding: 10%  8%;
    }
}@media (min-width: 1100px){
    .Grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: auto;
        gap: 1.20%;
        padding: 10%  8%;
    }
}
@media (min-width: 1281px){
    .Grid-container{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        margin: auto;
        gap: 1.1%;
        padding: 3% 10%;
    }
}


.Grid-container .poster{
    width: auto;
}